@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light-italic.woff2") format("woff2"), url("../fonts/OpenSans-Light-italic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
  color: #333333;
  font-family: "OpenSans", sans-serif;
  background-color: #fff;
  line-height: 1.6;
}

body._lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.btn {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  line-height: 1.3;
  padding: 12px 24px;
  background-color: #2352DE;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  color: #2352DE;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #2352DE;
          box-shadow: inset 0px 0px 0px 1px #2352DE;
}

.btn:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
}

.btn:active {
  -webkit-box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
  background-color: #2352DE;
  color: #fff;
}

.section {
  padding: 140px 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 59px;
  position: relative;
  display: inline-block;
}

.title.title--center {
  left: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.title::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 5px;
  left: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  line-height: 1.3;
  position: relative;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(35, 82, 222, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.header__top {
  top: 20px;
  position: relative;
}

.header__top.sticky {
  position: fixed;
  top: 0;
  padding: 10px 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  right: 0;
  background-color: #7792E0;
  color: #fff;
  max-width: 1200px;
  width: 100%;
  z-index: 10;
  -webkit-transition: position, padding-top 0.5s;
  -o-transition: position, padding-top 0.5s;
  transition: position, padding-top 0.5s;
}

.header__top.sticky::before,
.header__top.sticky::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #7792E0;
}

.header__top.sticky::after {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header .menu-icon {
  display: none;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .logo {
  height: 105px;
  border: 3px solid transparent;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  outline: transparent;
}

.header .menu .logo__img {
  width: 100px;
  height: 100px;
}

.header .menu .logo:hover {
  opacity: 0.7;
}

.header .menu .logo:focus {
  -webkit-box-shadow: 0 0 0 3px #2352DE;
          box-shadow: 0 0 0 3px #2352DE;
}

.header .menu .logo:active {
  opacity: 0.5;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__item {
  margin-right: 35px;
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header .menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.28;
  font-weight: 600;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.header .menu__link:hover {
  -webkit-box-shadow: 0 1px 0 0 #fff;
          box-shadow: 0 1px 0 0 #fff;
}

.header .menu__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.header .menu__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.header__bottom {
  min-height: 350px;
}

.header__title {
  position: absolute;
  top: 56%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 11px;
  max-width: 628px;
}

.header__text {
  color: #fff;
  font-weight: 700;
  font-size: 90px;
}

.header__btn {
  position: absolute;
  bottom: 62px;
  left: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__btn::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/arrow.svg);
  width: 37px;
  height: 22px;
  top: 32px;
  right: 38%;
  background-repeat: no-repeat;
}

.header__btn::after {
  content: "";
  position: absolute;
  left: -2px;
}

.header__btn:hover {
  -webkit-box-shadow: 0px 2px 0px -1px #fff;
          box-shadow: 0px 2px 0px -1px #fff;
}

.header__btn:focus::after {
  -webkit-box-shadow: 0px 0 0px 2px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0 0px 2px rgba(255, 255, 255, 0.7);
  padding: 31px 81px;
  border-radius: 5px;
  color: #fff;
}

.header__btn:active {
  color: rgba(255, 255, 255, 0.5);
}

.about__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__photo {
  max-width: 415px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

.skills__box {
  max-width: 665px;
  width: 100%;
}

.skills__item {
  max-width: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 86px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__title {
  text-transform: uppercase;
  margin-right: 15px;
  width: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.skills__line {
  max-width: 600px;
  width: 100%;
  height: 32px;
  background-color: #DBDBED;
}

.skills__progress {
  display: block;
  height: 32px;
  background-color: #2352DE;
}

.skills__progress--html {
  width: 80%;
}

.skills__progress--css {
  width: 70%;
}

.skills__progress--js {
  width: 10%;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  max-width: 330px;
  margin-right: 10px;
  position: relative;
  padding-top: 100px;
}

.services__item:last-child {
  margin-right: 0;
}

.services__item--project::before,
.services__item--cms::before,
.services__item--site::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/item-1.svg);
  width: 60px;
  height: 60px;
  top: 9px;
  left: 1px;
}

.services__item--cms::before {
  background-image: url(../img/icons/item-2.svg);
}

.services__item--site::before {
  background-image: url(../img/icons/item-3.svg);
}

.services__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
}

.works {
  padding-bottom: 140px;
  text-align: center;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 63px;
}

.works__inner .mixitup-control-active {
  color: #2352DE;
}

.works__item {
  margin-bottom: 20px;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__btn {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 0;
  margin: 0 17px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.works__btn:hover {
  color: #2352DE;
  -webkit-box-shadow: 0 1px 0 0 #2352DE;
          box-shadow: 0 1px 0 0 #2352DE;
}

.works__btn:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 4px;
}

.works__wrapper {
  margin-bottom: 23px;
}

.works__box {
  display: inline-block;
  margin: 0 37px 37px 0;
}

.works__box:nth-child(3n) {
  margin-right: 0;
}

.works__link {
  max-height: 360px;
  display: block;
}

.works__img {
  max-width: 360px;
  max-height: 360px;
  width: 100%;
  height: 100%;
}

.reviews {
  background-color: #F6F6F8;
  line-height: 1.3;
  font-size: 24px;
  text-align: center;
}

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.reviews__box {
  max-width: 405px;
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 18px;
}

.reviews__img {
  background-size: cover;
  background-position: center;
  padding-right: 3px;
}

.reviews__name {
  font-weight: 600;
  color: #2352DE;
  margin-bottom: 20px;
  padding-right: 7px;
}

.reviews__text {
  font-weight: 300;
  font-style: italic;
  max-width: 404px;
}

.reviews__video {
  position: relative;
  height: 100%;
  width: 570px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__video::after {
  content: "";
  background-image: url(../img/reviews/play.svg);
  width: 86px;
  height: 100px;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  bottom: 40%;
  right: 41%;
}

.reviews__video::before {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: auto;
}

.reviews__video:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video:hover::after {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.reviews__video:active::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.reviews__video:active::after {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.reviews__bg {
  display: block;
}

.results__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 280px;
  max-height: 287px;
  width: 100%;
  background-color: #F6F6F8;
  border: 1px solid #DBDBED;
  padding: 50px 30px 48px;
  margin-right: 14px;
}

.results__item:last-child {
  margin-right: 0;
}

.results__item--works::before,
.results__item--clients::before,
.results__item--coffe::before,
.results__item--review::before {
  content: "";
  display: block;
  background-image: url(../img/icons/works.svg);
  width: 97px;
  height: 80px;
}

.results__item--clients::before {
  background-image: url(../img/icons/clients.svg);
  width: 91px;
  height: 80px;
}

.results__item--coffe::before {
  background-image: url(../img/icons/coffee.svg);
  width: 80px;
  height: 80px;
}

.results__item--review::before {
  background-image: url(../img/icons/review.svg);
  width: 81px;
}

.results__text {
  font-size: 18px;
  line-height: 1.3;
  padding-top: 20px;
}

.results__quantity {
  display: block;
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
  padding-top: 20px;
}

.contact {
  font-size: 16px;
  line-height: 1.3;
}

.contact__inner {
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__box p {
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 531px;
}

.contact__box span {
  color: #2352DE;
}

.contact__list {
  margin-bottom: 21px;
}

.contact__item {
  margin-bottom: 15px;
}

.contact__link {
  color: #2352DE;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.contact__link:hover {
  -webkit-box-shadow: 0 1px 0 0 #2352DE;
          box-shadow: 0 1px 0 0 #2352DE;
}

.contact__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 5px;
}

.contact__link:active {
  color: rgba(35, 82, 222, 0.7);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 44px;
  height: 44px;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 5px;
}

.social__link:active {
  color: rgba(35, 82, 222, 0.7);
}

.form {
  max-width: 540px;
  width: 100%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.form__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.form__item:last-child {
  margin-right: 0;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form__input {
  background-color: #f6f6f8;
  color: #9C9CAB;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 13px 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form__input:hover::-webkit-input-placeholder {
  color: #000;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.form__input:hover::-moz-placeholder {
  color: #000;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

.form__input:hover:-ms-input-placeholder {
  color: #000;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}

.form__input:hover::-ms-input-placeholder {
  color: #000;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}

.form__input:hover::placeholder {
  color: #000;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.form__input::-webkit-input-placeholder {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.form__input::-moz-placeholder {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.form__input:-ms-input-placeholder {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.form__input::-ms-input-placeholder {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.form__input::placeholder {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.7);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.7);
}

.form__input--textarea {
  padding: 13px 15px;
  width: 100%;
  height: 115px;
  resize: none;
  margin: 6px 0 23px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343740;
  padding: 20px 0;
}

.footer .logo {
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .logo:hover {
  opacity: 0.7;
}

.footer .logo:focus {
  -webkit-box-shadow: 0 0 0 3px #2352DE;
          box-shadow: 0 0 0 3px #2352DE;
}

.footer .logo:active {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .container--works {
    max-width: 830px;
  }

  .container--results {
    max-width: 700px;
  }

  .skills__photo {
    margin-right: 20px;
  }

  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__item {
    margin: 0 0 30px 0;
  }

  .services__item:last-child {
    margin-bottom: 0;
  }

  .works__box {
    margin: 0 15px 15px 0;
  }

  .works__box:nth-child(even) {
    margin-right: 0;
  }

  .works__box:nth-child(odd) {
    margin-right: 15px;
  }

  .works__box:nth-child(3n) {
    margin-right: none;
  }

  .works__img {
    max-width: 300px;
    max-height: 300px;
  }

  .reviews__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__box {
    margin-top: 0;
  }

  .reviews__video::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .reviews__bg {
    width: 470px;
  }

  .results__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .results__item {
    margin-bottom: 14px;
  }

  .results__item--clients {
    margin-right: 0;
  }

  .results__item--review {
    margin-right: 0;
  }

  .contact__box {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .header__top {
    top: 60px;
  }

  .header__top .menu__list {
    top: -50px;
    left: -100%;
    height: 110vh;
  }

  .header__top .menu__list._active {
    left: 0;
  }

  .header__top.sticky {
    padding: 55px 15px;
  }

  .header .menu-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
    display: block;
    width: 30px;
    height: 18px;
  }

  .header .menu-icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .header .menu-icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .header .menu-icon._active::before {
    top: 45%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .header .menu-icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .header .menu-icon span,
  .header .menu-icon::before,
  .header .menu-icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
  }

  .header .menu-icon::before,
  .header .menu-icon::after {
    content: "";
  }

  .header .menu-icon::before {
    top: 0;
  }

  .header .menu-icon::after {
    bottom: 0;
  }

  .header .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header .menu .logo {
    position: absolute;
    z-index: 2;
  }

  .header .menu__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #7792E0;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    overflow: auto;
    z-index: 1;
    display: block;
    text-align: center;
    padding-top: 150px;
  }

  .header .menu__list._active {
    left: 0;
  }

  .header .menu__item {
    margin-right: 0;
    text-align: center;
  }

  .header .menu__link {
    display: block;
    padding: 11px 0;
  }

  .header .menu__link:hover {
    background-color: #2352DE;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__text {
    display: block;
    font-size: 60px;
  }

  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .skills__photo {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .skills__item {
    display: block;
    margin-bottom: 24px;
  }

  .skills__item:last-child {
    margin-bottom: 0;
  }

  .skills__title {
    width: 100%;
    margin-bottom: 5px;
  }

  .skills__line {
    max-width: 100%;
  }

  .services__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .services__item {
    max-width: 100%;
    padding-top: 80px;
  }

  .services__title {
    margin-bottom: 15px;
  }

  .reviews__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__box {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container--works {
    max-width: 600px;
  }

  .container--results {
    max-width: 500px;
  }

  .section {
    padding: 50px 0;
  }

  .title {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 28px;
  }

  .title::before {
    height: 10px;
    left: 0;
    bottom: 3px;
  }

  .header__title {
    font-size: 28px;
  }

  .header__text {
    font-size: 40px;
  }

  .header__btn {
    font-size: 14px;
  }

  .header__btn::before {
    top: 28px;
    right: 34%;
  }

  .header__btn:focus::after {
    padding: 29px 63px;
  }

  .about__content p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .services__item--project::before,
  .services__item--cms::before,
  .services__item--site::before {
    -webkit-transform: scale(0.67);
        -ms-transform: scale(0.67);
            transform: scale(0.67);
  }

  .works {
    padding-bottom: 50px;
  }

  .works__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  .works__btn {
    margin: 0;
  }

  .works__box {
    margin-right: 0;
  }

  .works__box:nth-child(odd) {
    margin-right: 0;
  }

  .works__box:nth-child(3n) {
    margin-right: none;
  }

  .works__img {
    max-width: 100%;
  }

  .results__item {
    max-width: 210px;
    max-height: 200px;
    padding: 20px;
  }

  .results__item--works::before,
  .results__item--clients::before,
  .results__item--coffe::before,
  .results__item--review::before {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .results__text {
    font-size: 14px;
    padding-top: 0;
  }

  .results__quantity {
    font-size: 30px;
    padding-top: 10px;
  }

  .results__quantity--padding {
    padding-top: 21px;
  }

  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__box p {
    max-width: 100%;
  }

  .social {
    margin-bottom: 32px;
  }

  .form {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container--results {
    max-width: 350px;
  }

  .header__top {
    top: 40px;
  }

  .header__top.sticky {
    padding: 40px 15px;
  }

  .header .menu .logo__img {
    width: 65px;
    text-align: center;
    height: 55px;
  }

  .header .menu .logo {
    width: 70px;
    text-align: center;
    height: 60px;
  }

  .header__title {
    font-size: 20px;
  }

  .header__text {
    font-size: 30px;
  }

  .services__title {
    font-size: 20px;
  }

  .reviews {
    position: relative;
  }

  .reviews__name {
    font-size: 20px;
    padding-right: 0px;
    margin-bottom: 18px;
  }

  .reviews__text {
    font-size: 16px;
    padding: 0 35px;
  }

  .reviews__video {
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(125%, -50%);
        -ms-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
  }

  .reviews__video::before {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .reviews__video::after {
    -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
            transform: scale(0.2);
    top: -20px;
    left: -12px;
  }

  .reviews__video:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: auto;
  }

  .reviews__video:hover::after {
    -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
            transform: scale(0.2);
  }

  .reviews__bg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .results__item {
    margin-right: 0;
    max-width: 70%;
  }

  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__item {
    margin-right: 0;
  }

  .footer {
    padding: 10px 0;
  }

  .footer .logo {
    width: 50px;
    height: 50px;
  }

  .footer .logo__img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 294px) {
  .title.underline::after {
    content: "";
    position: absolute;
    width: 48%;
    height: 10px;
    background-color: rgba(35, 82, 222, 0.1);
    bottom: 40px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  .title.underline::before {
    width: 57%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
}